/* SASS Colour Declarations for another day?
$dark-grey: #25252D;
$medium-grey:#8E96AD;
$light-grey: #D9DCE7;
$accent: #EC8D50;
$purple-blue: #3C3C97;
$purple-red: #B172B0;
*/


body{
  background-color: #25252D;
  color: #D9DCE7;
  font-family: "courier-prime", monospace;
}

h1{
  font-size: 2.5em;
  color: #EC8D50;
  letter-spacing: 0.2em;
  line-height: 1.5;
  padding-bottom: 0.5em;
}

h2{
  font-size: 1.5em;
  color: #EC8D50;
  letter-spacing: 0.35em;
  text-transform: uppercase;
}

h3{
  font-size: 1em;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

p{
  font-size: 1em;
  letter-spacing: 0.05em;
  line-height: 1.5;
  padding-bottom: 0.5em;
}

.divider {
    display: block;
    width: 4em;
    height: 0.25em;
    box-shadow: inset 0 0.25em 0 0;
    margin: 10em auto 10em;
}

.overlay{
  mix-blend-mode: overlay;
}

.center-block{
  float: none;
}

.padded{
  padding-top: 4em;
  padding-bottom: 4em;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

a, a:hover, a:focus, a:active, a:visited{
  text-decoration: none;
	color: #EC8D50;
}

a:hover, a:focus{
  border-bottom: 0.25rem solid;
  transition: 0.2s ease;
}

figcaption{
  font-family: 'Cardo', serif;
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 0.25em;
  color: #8E96AD;
  opacity: 0.5;
  padding: 1em 0;
}

.signup{
  background-color: #383840;
  padding: 10% 0;
}

.footer{
  background-color: #D9DCE6;
  color: #8E96AD;
  padding-top: 1em;
}

@media screen and (min-width: 1024px) {

  .anchor{
    positin: relative;
  }

  .overlap-right{
    position: absolute;
    z-index: 3;
    left: 80%;
    top: 10%;
    max-width: 100%;
  }

  .overlap-left{
    position: absolute;
    z-index: 3;
    left: 0;
    top: 10%;
    margin-left: -40%;
    max-width: 70%;
  }

}

/* Mailchimp Form Styling */
#mc_embed_signup{
  clear:left;
  width:100%;
}

form > div {
  position: relative;
}
form > div > label {
  position: absolute;
}

#mce-email{
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 1em 4em;
  margin-bottom: 1em;
}

#mc-embedded-subscribe{
  border-radius: 4px;
    padding: 0.5em 2em;
    color: #fff;
    background-color: #EC8D50;
    border: none;
}
