/* SASS Colour Declarations for another day?
$dark-grey: #25252D;
$medium-grey:#8E96AD;
$light-grey: #D9DCE7;
$accent: #EC8D50;
$purple-blue: #3C3C97;
$purple-red: #B172B0;
*/

html{
  font-size: 16px;
}

body{
  background-color: #25252D;
  color: #D9DCE7;
  font-family: "courier-prime", monospace;
}

h1{
  font-size: 2.5rem;
  color: #EC8D50;
  letter-spacing: 0.2rem;
  line-height: 1.5;
  padding-bottom: 0.5rem;
}

h2{
  font-size: 1.5rem;
  color: #EC8D50;
  letter-spacing: 0.35rem;
  text-transform: uppercase;
}

h3{
  font-size: 1rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

p{
  font-size: 1rem;
  letter-spacing: 0.05rem;
  line-height: 1.5;
  padding-bottom: 0.5rem;
}

.divider {
    display: block;
    width: 4rem;
    height: 0.25rem;
    box-shadow: inset 0 0.25rem 0 0;
    margin: 10rem auto 10rem;
}

.divider-left {
    display: block;
    width: 4rem;
    height: 0.25rem;
    box-shadow: inset 0 0.25rem 0 0;
    margin: 5rem 0 5rem 0;
}

.overlay{
  mix-blend-mode: overlay;
}

.center-block{
  float: none;
}

.padded{
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

a, a:hover, a:focus, a:active, a:visited{
  text-decoration: none;
	color: #EC8D50;
}

a:hover, a:focus{
  border-bottom: 0.25rem solid;
  transition: 0.1s ease;
}

a img{
  border-bottom: 0;
}

figcaption{
  font-family: 'Cardo', serif;
  text-transform: uppercase;
  font-size: 0.5rem;
  letter-spacing: 0.2rem;
  color: #D9DCE7;
  opacity: 0.75;
  padding: 1rem 0;
}

.signup{
  background-color: #383840;
  padding: 2rem 0 4rem 0;
}

.footer{
  background-color: #D9DCE6;
  color: #8E96AD;
  padding-top: 1rem;
}

@media screen and (min-width: 1024px) {

  .anchor{
    position: relative;
  }

  .overlap-right{
    position: absolute;
    z-index: 3;
    left: 40%;
    top: 10%;
    max-width: 100%;
  }

  .overlap-left{
    position: absolute;
    z-index: 3;
    left: 0;
    top: 10%;
    margin-left: -40%;
    max-width: 70%;
  }

}

/* Mailchimp Form Styling */

#mc_embed_signup{
  clear:left;
  width:100%;
}

.mc-field-group {
  position: relative;
}
.mc-field-group > label {
  position: absolute;
  left: 0;
  top: 0;
}

#mce-EMAIL{
  padding: 0.2rem 2rem;
  border-radius: 4px;
  margin-bottom: 1rem;
  background-color: #D9DCE7;
  color: #25252D;
  border: none;
  height: 2.5rem;
  width: 20rem;
  max-width: 100%;
}

input:focus + label {
  /* do something with the label */
}

form.go-bottom label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: 0.2s;
}
form.go-bottom input:focus + label{
  top: 100%;
  margin-top: -16px;
}

form input:valid {
  background: white;
}

/* #mce-email{
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 1rem 4rem;
  margin-bottom: 1rem;
} */

#mc-embedded-subscribe{
  border-radius: 4px;
    padding: 0.5rem 2rem;
    color: #fff;
    background-color: #EC8D50;
    border: none;
    width: 20rem;
    max-width: 100%;
}
